body {
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
}
#close-app {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 17px;
}

#login-layout {
  display: block;
  background-color: #eee;
  height: 100%;
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0px;
  z-index: 2;
}

#login-btn {
  position: absolute;
  border: 1px #ccc solid;
  background-color: #fff;
  color: #ccc;
  padding: 3px 5px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  font-size: 20px;
  margin-top: -20px;
}

footer .controls {
  margin: 8px auto 0 auto;
}

footer .controls .glyphicon {
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
}

#tracks-wrapper {
  padding: 5px 10px;
}

#tracks-wrapper .track {
  white-space: nowrap;
  margin-bottom: 10px;
}

#tracks-wrapper .track .play-btn {
  cursor: pointer;
  padding: .2em .6em .3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

#tracks-wrapper .track .artist {
  margin-left: 5px
}

header, footer {
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
}
header {
  top: 0;
}
section {
  margin: 50px 0;
}
footer {
  bottom: 0;
  text-align: center;
}
