body {
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
}

#close-app {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 17px;
}

#login-layout {
  display: block;
  background-color: #eee;
  height: 100%;
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0px;
  z-index: 2;
}

#login-btn {
  position: absolute;
  border: 1px #ccc solid;
  background-color: #fff;
  color: #ccc;
  padding: 3px 5px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  font-size: 20px;
  margin-top: -20px;
}

footer .progressbar {
  width: 100%;
  border-top: 1px solid gray;
  height: 5px;
  margin-top: 10px;
  position: absolute;
  bottom: 50px;
  background-color: yellow;
}

footer .progressbar .preloader {
  background-color: silver;
  height: 5px;
  width: 0%;
}

footer .progressbar .pointer {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0%;
}

footer .controls {
  margin: 8px auto 0 auto;
}

footer .controls .glyphicon {
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
}

#tracks-wrapper {
  padding: 5px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 284px;
}

#tracks-wrapper .track {
  white-space: nowrap;
  margin-bottom: 10px;
}

#tracks-wrapper .track .play-btn {
  cursor: pointer;
  padding: .2em .6em .3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

#tracks-wrapper .track .artist {
  margin-left: 5px
}

header, footer {
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
}
header {
  top: 0;
}
section {
  margin: 50px 0;
}
footer {
  bottom: 0;
  text-align: center;
}

/** Colors **/
.bg-indigo-500 { background-color: #3f51b5; }
.color-white { color: #ffffff; }

/** Icons **/
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
